# Ignorar dependencias locales (se instalan en el contenedor)
node_modules

# Ignorar logs de npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar directorio de build de Next.js (se genera en el contenedor)
.next
out

# Ignorar archivos de Vercel
.vercel

# Ignorar configuraciones de IDE y sistema operativo
.DS_Store
*.pem
*.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# Ignorar archivos de git
.git
.gitignore 